<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartmail.tracking.mapper.TrackingEventMapper">
    <select id="countByCampaignAndType" resultType="int">
        SELECT COUNT(*) FROM tracking_event
        WHERE campaign_id = #{campaignId} AND event_type = #{eventType}
    </select>
</mapper>
